* {
  box-sizing: border-box;
}

body {
  background-color: #E0954A;
  margin: 0pt;
}

/*Adds content after the row class*/
.row::after {
  content: "";
  clear: both;
  display: block;
}

/*Apply styling to a group of classes*/
[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Arial", sans-serif;
}




div.c {
  font-size: 300%;
  font-family: Adobe Thai;
}


.products{
  text-align: center;
  font-family: Adobe Thai;
  font-size: 30px;

}

.header {
  background-color: #041962;
  color: #ffffff;
  padding: 15px;
}

.aside {
  background-color: #d1b827;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.footer {
  background-color: #7C4713;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
